name: Home Server Auto Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Execute Deploy Script
        env:
          ENV_CONTENTS: ${{ secrets.ENV_FILE }}
        run: |
          echo ">>> 1. 백엔드 폴더로 이동"
          cd /home/dabin/backend
          
          echo ">>> 2. 깃허브 최신 코드 강제 동기화"
          git fetch --all
          git reset --hard origin/main
          git pull origin main
          chmod +x gradlew

          echo ">>> 3. .env 파일 생성 (GitHub Secrets 적용)"
          # 환경변수 내용을 .env 파일로 저장
          echo "$ENV_CONTENTS" > .env
          
          # 파일이 잘 만들어졌는지 확인
          if [ -f ".env" ]; then
            echo ".env 파일 생성 성공!"
          else
            echo ".env 파일 생성 실패 ㅠㅠ"
            exit 1
          fi
          
          echo ">>> 4. 배포 스크립트 실행"
          cd /home/dabin
          chmod +x deploy.sh
          ./deploy.sh
